<footer class="w-full mt-28 pb-14 bg-neutral-950">
	<div class="h-6 w-full bg-gradient-to-r from-[#f87171] to-[#f472b6]"></div>
	<div
		class="flex justify-between items-start w-full max-w-[1200px] mx-auto mt-14"
	>
		<div class="text-left">
			<h2 class="text-red-600 font-medium text-lg mb-2">Apostel</h2>
			<p class="text-neutral-300 text-sm">
				Apostel is your go-to destination for top-notch fitness<br />
				equipment and supplements.
			</p>
			<p class="mt-4 text-neutral-300 text-sm">
				Copyright ©2023 Ecommerce by Apostel group.
			</p>
		</div>
		<div class="ml-auto">
			<h2 class="text-red-600 font-medium text-lg mb-2">contact us</h2>
			<p class="text-neutral-300 text-sm mb-2">address · tanger tren city</p>
			<p class="text-neutral-300 text-sm mb-2">email · help@apsotelgroup.com</p>
			<p class="text-neutral-300 text-sm mb-2">phone · 0612365478</p>
		</div>
	</div>
</footer>
