{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,200"
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="{% static 'coach/nav.css' %}" />
		<link rel="stylesheet" href="{% static 'coach/global.css' %}" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="stylesheet" href="{% static 'coach/modal.css' %}" />
		<link
			href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="bg-gray-300">
    {% include 'coach/componants/nav.html' %}
    <main class="w-full ">
        

        <section class="relative w-full mt-14">
            <div class="w-full relative max-h-[550px] h-[550px] mt-24 p-1">
                <img class=" h-full  w-[85%] ml-32  object-cover rounded-3xl " src=" {% static 'img/session.jpeg' %}">
    
                <h1
                    class="text-[4rem] capitalize absolute top-[50%] text-center left-1/2 -translate-x-1/2 -translate-y-1/2 font-header text-white"
                >
                    holy tren collection
                </h1>
            </div >
            <div class="flex mx-auto gap-x-6 mt-11 justify-center items-start">
                <div class="hs-accordion-group min-w-[290px]">
                    <div class="hs-accordion" id="hs-basic-with-arrow-heading-two">
                    <button class="hs-accordion-toggle hs-accordion-active:text-blue-600 py-3 inline-flex items-center gap-x-3 w-full font-semibold text-start text-black rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:focus:outline-none " aria-controls="hs-basic-with-arrow-collapse-two">
                        <svg class="hs-accordion-active:hidden block size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m6 9 6 6 6-6"></path>
                        </svg>
                        <svg class="hs-accordion-active:block hidden size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m18 15-6-6-6 6"></path>
                        </svg>
                        Filter by Price
                    </button>
                    <div id="hs-basic-with-arrow-collapse-two" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-arrow-heading-two">
                            <div class="grid space-y-2">
                                <label for="vertical-checkbox-checked-in-form" class="max-w-xs flex p-3 w-full bg-gray-400 rounded-lg text-sm  text-black">
                                  <input type="checkbox" class="shrink-0 mt-0.5  rounded text-emerald-600 disabled:opacity-50 disabled:pointer-events-none  accent-emerald-500" id="vertical-checkbox-checked-in-form" >
                                  <span class="text-sm text-gray-100 ms-3">Under $25</span>
                                </label>
                                <label for="vertical-checkbox-checked-in-form" class="max-w-xs flex p-3 w-full bg-gray-400 rounded-lg text-sm  text-black">
                                    <input type="checkbox" class="shrink-0 mt-0.5  rounded text-emerald-600 disabled:opacity-50 disabled:pointer-events-none  accent-emerald-500" id="vertical-checkbox-checked-in-form" >
                                    <span class="text-sm text-gray-100 ms-3">$25 to $50</span>
                                  </label>
                                  <label for="vertical-checkbox-checked-in-form" class="max-w-xs flex p-3 w-full bg-gray-400 rounded-lg text-sm  text-black">
                                    <input type="checkbox" class="shrink-0 mt-0.5  rounded text-emerald-600 disabled:opacity-50 disabled:pointer-events-none  accent-emerald-500" id="vertical-checkbox-checked-in-form" >
                                    <span class="text-sm text-gray-100 ms-3">50 to $100</span>
                                  </label>
                                  <label for="vertical-checkbox-checked-in-form" class="max-w-xs flex p-3 w-full bg-gray-400 rounded-lg text-sm  text-black">
                                    <input type="checkbox" class="shrink-0 mt-0.5  rounded text-emerald-600 disabled:opacity-50 disabled:pointer-events-none  accent-emerald-500" id="vertical-checkbox-checked-in-form" >
                                    <span class="text-sm text-gray-100 ms-3">Over $100</span>
                                  </label>
                              </div>
                    </div>
                    </div>
                
                    <div class="hs-accordion" id="hs-basic-with-arrow-heading-three">
                    <button class="hs-accordion-toggle hs-accordion-active:text-blue-600 py-3 inline-flex items-center gap-x-3 w-full font-semibold text-start text-black rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:focus:outline-none " aria-controls="hs-basic-with-arrow-collapse-three">
                        <svg class="hs-accordion-active:hidden block size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m6 9 6 6 6-6"></path>
                        </svg>
                        <svg class="hs-accordion-active:block hidden size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m18 15-6-6-6 6"></path>
                        </svg>
                        Sort By
                    </button>
                    <div id="hs-basic-with-arrow-collapse-three" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-arrow-heading-three">
                        <div class="grid space-y-2">
                            <label for="hs-vertical-radio-checked-in-form" class=" max-w-xs flex p-3 w-full border border-gray-200 rounded-lg text-sm  bg-gray-400  text-black">
                                <input type="radio" name="hs-vertical-radio-in-form" class="shrink-0 mt-0.5 border-gray-200 rounded-full accent-emerald-500 disabled:opacity-50 disabled:pointer-events-none " id="hs-vertical-radio-checked-in-form" checked="">
                                <span class="text-sm text-gray-100 ms-3 ">Popularity</span>
                            </label>
                            <label for="hs-vertical-radio-checked-in-form" class="max-w-xs flex p-3 w-full border border-gray-200 rounded-lg text-sm accent-emerald-500 bg-gray-400  text-black">
                                <input type="radio" name="hs-vertical-radio-in-form" class="shrink-0 mt-0.5 border-gray-200 rounded-full accent-emerald-500 disabled:opacity-50 disabled:pointer-events-none" id="hs-vertical-radio-checked-in-form" checked="">
                                <span class="text-sm text-gray-100 ms-3 ">Price: High to Low</span>
                            </label>
                            <label for="hs-vertical-radio-checked-in-form" class="max-w-xs flex p-3 w-full border border-gray-200 rounded-lg text-sm accent-emerald-500  bg-gray-400  text-black">
                              <input type="radio" name="hs-vertical-radio-in-form" class="shrink-0 mt-0.5 border-gray-200 rounded-full accent-emerald-500 disabled:opacity-50 disabled:pointer-events-none" id="hs-vertical-radio-checked-in-form" checked="">
                              <span class="text-sm text-gray-100 ms-3 ">Price: Low to High</span>
                            </label>
                           
                          </div>
                    </div>
                    </div>
                </div>


                <div class="w-full max-w-[1200px] grid grid-cols-4 gap-y-2 gap-x-4 justify-items-center  flex-col">
                    {% comment %} {% for p in products %} {% endcomment %}
                    <div class="w-full max-w-[320px] bg-emerald-900 rounded-[36px] flex flex-col items-center p-3 relative" >
                      <p
                          class="text-emerald-300 flex items-center justify-center gap-x-2 bg-emerald-800/50 text-sm backdrop-blur-md py-2 absolute top-6 left-4 rounded-3xl px-4 font-medium capitalize"
                        >
                          body building
                        </p>
                    <img
                      src="https://images.unsplash.com/photo-1505533321630-975218a5f66f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                      class="rounded-3xl w-full object-top mb-4 min-h-[200px] object-cover"
                    />
                      <div class="min-w-0 max-w-full w-full">
                          <h4
                          class="thick-font text-lg capitalize text-center font-medium text-primary truncate"
                          >
                          ronie special nippeles
                          </h4>
                      </div>
                      <div class="flex w-full justify-between mt-2 items-center gap-x-3">
                          <p
                          class="text-emerald-300 flex items-center justify-center gap-x-2 bg-emerald-800 rounded-full self-start px-2 font-medium capitalize"
                          >
                          <span class="material-symbols-outlined text-lg font-semibold">
                              history_toggle_off
                          </span>
                          <span>2h</span>
                          </p>
                          <p
                          class="text-emerald-300 flex items-center justify-center gap-x-2 bg-emerald-800 rounded-full self-start px-2 font-medium capitalize"
                          >
                          <span class="material-symbols-outlined"> groups </span>
                          <span>100</span>
                          </p>
                          <p
                          class="text-emerald-300 flex items-center justify-center gap-x-2 bg-emerald-800 rounded-full self-start px-2 font-medium capitalize"
                          >
                          <span class="material-symbols-outlined"> star </span> <span>5</span>
                          </p>
                      </div>
                
                        <div class="mt-4 w-full border-y border-emerald-700 py-2">
                        <p class="text-emerald-300 flex justify-between mb-1">start date: <span class="font-medium capitalize" >may,10th</span></p>
                        <p class="text-emerald-300 flex justify-between">end date: <span class="font-medium capitalize" >may,10th</span></p>
                      </div>
                      <div class="w-full flex items-center gap-x-4 border-b border-emerald-700 py-2">
                      <img
                        class="size-12 rounded-full object-cover"
                        src="https://images.unsplash.com/photo-1505533321630-975218a5f66f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                      />
                      <div class="mb-2">
                        <p class="text-emerald-300">coach</p>
                        <p class="text-emerald-300 font-medium capitalize">
                          adolfo hitler-chan
                        </p>
                      </div>
                    </div>

                    

                        <div class="mb-2  mt-3 flex self-start justify-between ">
                          <p class="text-emerald-300 thick-font text-xl">Price: $69</p>
                          <button class="hover:text-emerald-500  text-emerald-300 thick-font" data-micromodal-trigger="modal-1">see more</button>
                          
                        </div>
                        
                        
                  </div>


                    <div class="w-full max-w-[320px] bg-emerald-900 rounded-[36px] flex flex-col items-center p-3 relative" >
                      <p
                          class="text-emerald-300 flex items-center justify-center gap-x-2 bg-emerald-800/50 text-sm backdrop-blur-md py-2 absolute top-6 left-4 rounded-3xl px-4 font-medium capitalize"
                        >
                          body building
                        </p>
                    <img
                      src="https://images.unsplash.com/photo-1505533321630-975218a5f66f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                      class="rounded-3xl w-full object-top mb-4 min-h-[200px] object-cover"
                    />
                      <div class="min-w-0 max-w-full w-full">
                          <h4
                          class="thick-font text-lg capitalize text-center font-medium text-primary truncate"
                          >
                          ronie special nippeles
                          </h4>
                      </div>
                      <div class="flex w-full justify-between mt-2 items-center gap-x-3">
                          <p
                          class="text-emerald-300 flex items-center justify-center gap-x-2 bg-emerald-800 rounded-full self-start px-2 font-medium capitalize"
                          >
                          <span class="material-symbols-outlined text-lg font-semibold">
                              history_toggle_off
                          </span>
                          <span>2h</span>
                          </p>
                          <p
                          class="text-emerald-300 flex items-center justify-center gap-x-2 bg-emerald-800 rounded-full self-start px-2 font-medium capitalize"
                          >
                          <span class="material-symbols-outlined"> groups </span>
                          <span>100</span>
                          </p>
                          <p
                          class="text-emerald-300 flex items-center justify-center gap-x-2 bg-emerald-800 rounded-full self-start px-2 font-medium capitalize"
                          >
                          <span class="material-symbols-outlined"> star </span> <span>5</span>
                          </p>
                      </div>
                
                        <div class="mt-4 w-full border-y border-emerald-700 py-2">
                        <p class="text-emerald-300 flex justify-between mb-1">start date: <span class="font-medium capitalize" >may,10th</span></p>
                        <p class="text-emerald-300 flex justify-between">end date: <span class="font-medium capitalize" >may,10th</span></p>
                      </div>
                      <div class="w-full flex items-center gap-x-4 border-b border-emerald-700 py-2">
                      <img
                        class="size-12 rounded-full object-cover"
                        src="https://images.unsplash.com/photo-1505533321630-975218a5f66f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                      />
                      <div class="mb-2">
                        <p class="text-emerald-300">coach</p>
                        <p class="text-emerald-300 font-medium capitalize">
                          adolfo hitler-chan
                        </p>
                      </div>
                    </div>
                        <div class="mb-2 mt-3">
                          <p class="text-emerald-300 thick-font text-2xl">Price: $69</p>
                          
                        </div>
                        
                  </div>
                    
                    
                
                  <div class="w-full max-w-[320px] bg-emerald-900 rounded-[36px] flex flex-col items-center p-3 relative" >
                    <p
                        class="text-emerald-300 flex items-center justify-center gap-x-2 bg-emerald-800/50 text-sm backdrop-blur-md py-2 absolute top-6 left-4 rounded-3xl px-4 font-medium capitalize"
                      >
                        body building
                      </p>
                  <img
                    src="https://images.unsplash.com/photo-1505533321630-975218a5f66f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="rounded-3xl w-full object-top mb-4 min-h-[200px] object-cover"
                  />
                    <div class="min-w-0 max-w-full w-full">
                        <h4
                        class="thick-font text-lg capitalize text-center font-medium text-primary truncate"
                        >
                        ronie special nippeles
                        </h4>
                    </div>
                    <div class="flex w-full justify-between mt-2 items-center gap-x-3">
                        <p
                        class="text-emerald-300 flex items-center justify-center gap-x-2 bg-emerald-800 rounded-full self-start px-2 font-medium capitalize"
                        >
                        <span class="material-symbols-outlined text-lg font-semibold">
                            history_toggle_off
                        </span>
                        <span>2h</span>
                        </p>
                        <p
                        class="text-emerald-300 flex items-center justify-center gap-x-2 bg-emerald-800 rounded-full self-start px-2 font-medium capitalize"
                        >
                        <span class="material-symbols-outlined"> groups </span>
                        <span>100</span>
                        </p>
                        <p
                        class="text-emerald-300 flex items-center justify-center gap-x-2 bg-emerald-800 rounded-full self-start px-2 font-medium capitalize"
                        >
                        <span class="material-symbols-outlined"> star </span> <span>5</span>
                        </p>
                    </div>
              
                      <div class="mt-4 w-full border-y border-emerald-700 py-2">
                      <p class="text-emerald-300 flex justify-between mb-1">start date: <span class="font-medium capitalize" >may,10th</span></p>
                      <p class="text-emerald-300 flex justify-between">end date: <span class="font-medium capitalize" >may,10th</span></p>
                    </div>
                    <div class="w-full flex items-center gap-x-4 border-b border-emerald-700 py-2">
                    <img
                      class="size-12 rounded-full object-cover"
                      src="https://images.unsplash.com/photo-1505533321630-975218a5f66f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    />
                    <div class="mb-2">
                      <p class="text-emerald-300">coach</p>
                      <p class="text-emerald-300 font-medium capitalize">
                        adolfo hitler-chan
                      </p>
                    </div>
                  </div>
                      <div class="mb-2 mt-3">
                        <p class="text-emerald-300 thick-font text-2xl">Price: $69</p>
                        
                      </div>
                      
                </div>
                      
                    
                </div>
        </section>
    </main>
   


    {% include 'coach/componants/footer.html' %}
    <script type="module"> 
    import preline from "https://cdn.jsdelivr.net/npm/preline@2.1.0/+esm"
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@preline/accordion@2.1.0/index.min.js"></script>
    <script src="{% static 'coach/navDropDown.js' %}"></script>
    <script src="{% static 'coach/add_to_cart_popup.mjs' %}" type="module"></script>



    <div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
      <div class="modaloverlay" tabindex="-1" data-micromodal-close>
        <div class="modalcontainer" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
         <header class="modalheader mb-3">
            <h2 class="modaltitle text-2xl capitalize text-emerald-700 font-bold " id="modal-1-title">
              session title
            </h2>
            <button class="hover:text-red-700 "data-micromodal-close>
              <span class="material-symbols-outlined text-2xl font-bold">
                close
                </span></button>
          </header>
          <main class="modalcontent grid grid-cols-3 grid-rows-[500px] gap-x-7" id="modal-1-content">
            

            <div class="">
              <img src="{% static 'img/future-artist.avif' %}" class="rounded-xl self-center object-top w-[40rem] h-full object-cover">
  
            </div>
            <div class="space-y-4 max-h-full">
              
  
              <div class=" divide-y-2 divide-gray-400 overflow-y-scroll max-h-[440px] scroller scroller_track_gray">
                <p>
                  r sit amet consectetur adipisicing elit. Maxime, nemo. Amet ipsum, saepe nobis officiis est eveniet delectus?
                  Quia consequuntur ad eaque iusto. Eaque sint ratione accusamus, porro excepturi odit! Hic vero dolorum fugiat dolorem esse officiis ea cupiditate possimus aut
                   </p>
  
  
                <p class="uppercase text-lg font-bold py-1 text-gray-700 mt-4">
                  location: <span class="text-gray-600/70 capitalize font-medium  text-lg ml-3">tanger</span>
                </p>
  
                <p class="uppercase text-lg font-bold py-1 text-gray-700">
                  price: <span class="text-gray-600/70 capitalize font-medium  text-lg ml-3">70$</span>
                </p>
  
                <p class="uppercase text-lg font-bold py-1 text-gray-700">
                  time: <span class="text-gray-600/70 capitalize font-medium fontmd  text-lg ml-3">12:00 - 15:34</span>
                </p>
  
                <p class="uppercase text-lg font-bold py-1 text-gray-700">
                  date: <span class="text-gray-600/70 capitalize font-medium  text-lg ml-3">14may - 17may</span>
                </p>
  
                <p class="uppercase text-lg font-bold py-1 text-gray-700">
                  coach: <span class="text-gray-600/70 capitalize font-medium  text-lg ml-3">mr.abdlha9 waterson</span>
                </p>
  
                <p class="uppercase text-lg font-bold py-1 text-gray-700">
                  participent: <span class="text-gray-600/70 capitalize font-medium  text-lg ml-3">60</span>
                </p>
  
                <p class="uppercase text-lg font-bold py-1 text-gray-700">
                  type: <span class="text-gray-600/70 capitalize font-medium  text-lg ml-3">solo</span>
                </p>
  
                <p class="uppercase text-lg font-bold py-1 text-gray-700">
                  categorie: <span class="text-gray-600/70 capitalize font-medium  text-lg ml-3">samba</span>
                </p>
              </div>
              <button class="font-semibold w-fit ml-auto bg-gray-400  py-3 px-6 rounded-lg block text-gray-200 hover:bg-gray-300 hover:text-gray-800 duration-300">
                Enroll
              </button>
            </div>
  
          
            <div class="max-h-full overflow-y-scroll scroller scroller_track_gray pr-6">
              <div class="flex flex-col">
              <div class="text-center">
                 <p class="capitalize text-2xl self-center font-medium mb-2 "> rate this session </p>

                <p class="font-medium text-lg text-gray-600">How much do u like this session </p>
             </div>
              <div class="rate self-center mb-6">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text"> </label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text"> </label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text"> </label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text"> </label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text"> </label>
              </div>
              

              <p class="font-medium text-lg text-gray-600">title</p>
              <input id="title" type="text" class="p-2 w-full bg-gray-300 duration-500 outline-none rounded-2xl focus-within:bg-gray-400 transition-colors placeholder:text-gray-500" placeholder="write ur review title here" ></input>
              <p class="font-medium text-lg text-gray-600 mt-2">review description</p>
              <textarea type="text" id="review" maxlength="100" class=" scroller  focus-within:bg-gray-400 transition-colors duration-500 p-2  resize-none  rounded-2xl outline-none  w-full placeholder:text-gray-500 bg-gray-300 py-1.5 text-gray-800 h-[93px]" placeholder="write ur experience with this session"></textarea>
              
              <button id="button1" class="mt-4 w-fit self-end bg-gray-400 text-gray-600 rounded-xl py-3 px-5 font-medium hover:bg-gray-500 hover:text-gray-200 transition-colors duration-300
              ">submit review</button>
            </div>
            

            <div class="mt-6">
              <p class="font-medium text-lg capitalize text-gray-600">comments</p>
              <div class="flex items-center gap-x-3 w-full">
                <p class="font-medium tabular-nums text-xl">4,5</p>
                <div>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
              </div>
                <p class="ml-auto text-gray-500 font-medium">69 reviews
                </p>
              </div>

              <div class="mt-4 space-y-8">

                <div class="flex flex-col">
                  <!-- Icon -->
                   <div class="flex items-center gap-x-2">
                    <img class="flex-shrink-0 size-[46px] self-start rounded-full object-cover" src="{% static 'img/sunshine.jpg' %}">
                    <div class="">
                    <p class="self-start font-medium text-lg block text-gray-500">sunshine</p>
                    <div class="space-x-1">
                    <i class="fa-solid inline fa-star"></i><i class="fa-solid inline fa-star"></i><i class="fa-solid inline fa-star"></i>
                    </div>
                    </div>
                   </div>
                  <div class="">
                    <h3 class="text-base sm:text-lg font-semibold text-gray-800 mt-2">
                      Industry-leading documentation
                    </h3>
                    <p class="mt-1 text-gray-600 ">
                      You are my sunshine, my only sunshine
                      You make me happy when skies are gray
                      You'll never know, dear, how much I love you
                      Please don't take my sunshine away
                      The other night, dear, as I lay sleeping
                      I dreamed I held you in my arms
                      When I awoke, dear, I was mistaken
                      So I hung my head and cried
                      You are my sunshine, my only sunshine
                      You make me happy when skies are gray
                      You'll never know, dear, how much I love you
                      Please don't take my sunshine away                    </p>
                  </div>
                </div>
                <div class="flex flex-col">
                  <!-- Icon -->
                   <div class="flex items-center gap-x-2">
                    <img class="flex-shrink-0 size-[46px] self-start rounded-full object-cover" src="{% static 'img/sunshine.jpg' %}">
                    <div class="">
                    <p class="self-start font-medium text-lg block text-gray-500">sunshine</p>
                    <div class="space-x-1">
                    <i class="fa-solid inline fa-star"></i><i class="fa-solid inline fa-star"></i><i class="fa-solid inline fa-star"></i>
                    </div>
                    </div>
                   </div>
                  <div class="">
                    <h3 class="text-base sm:text-lg font-semibold text-gray-800 mt-2">
                      Industry-leading documentation
                    </h3>
                    <p class="mt-1 text-gray-600 ">
                      You are my sunshine, my only sunshine
                      You make me happy when skies are gray
                      You'll never know, dear, how much I love you
                      Please don't take my sunshine away
                      The other night, dear, as I lay sleeping
                      I dreamed I held you in my arms
                      When I awoke, dear, I was mistaken
                      So I hung my head and cried
                      You are my sunshine, my only sunshine
                      You make me happy when skies are gray
                      You'll never know, dear, how much I love you
                      Please don't take my sunshine away                    </p>
                  </div>
                </div>
                <div class="flex flex-col">
                  <!-- Icon -->
                   <div class="flex items-center gap-x-2">
                    <img class="flex-shrink-0 size-[46px] self-start rounded-full object-cover" src="{% static 'img/sunshine.jpg' %}">
                    <div class="">
                    <p class="self-start font-medium text-lg block text-gray-500">sunshine</p>
                    <div class="space-x-1">
                    <i class="fa-solid inline fa-star"></i><i class="fa-solid inline fa-star"></i><i class="fa-solid inline fa-star"></i>
                    </div>
                    </div>
                   </div>
                  <div class="">
                    <h3 class="text-base sm:text-lg font-semibold text-gray-800 mt-2">
                      Industry-leading documentation
                    </h3>
                    <p class="mt-1 text-gray-600 ">
                      You are my sunshine, my only sunshine
                      You make me happy when skies are gray
                      You'll never know, dear, how much I love you
                      Please don't take my sunshine away
                      The other night, dear, as I lay sleeping
                      I dreamed I held you in my arms
                      When I awoke, dear, I was mistaken
                      So I hung my head and cried
                      You are my sunshine, my only sunshine
                      You make me happy when skies are gray
                      You'll never know, dear, how much I love you
                      Please don't take my sunshine away                    </p>
                  </div>
                </div>


                
              </div>
            </div>
            
          </div>
          <div class="">
           
          </div>
          </main>

          

          
        </div>
      </div>
    </div>


</body>
</html>
