{% load static %}
<!DOCTYPE html>
<html lang="en" class="w-full h-full min-h-screen">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="{% static 'coach/global.css' %}" />
  <link href="https://api.fontshare.com/v2/css?f[]=clash-display@400,500,700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@200;400;500;600;700&display=swap" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/build/vanilla-calendar.min.js" defer></script>
</head>

<body class="h-full w-full bg-emerald-100">
  <h1 class="text-4xl capitalize font-bold w-full mt-12 mb-10 max-w-[1350px] mx-auto text-emerald-900 thick-font">
    create session
  </h1>
  <div class="grid grid-cols-3 grid-rows-[120px,120px,120px,auto,140px]  justify-items-center w-full max-w-[1400px] mx-auto gap-x-4 gap-y-4">
    <div class="p-4  gap-y-2 flex-col row-[1/4] col-[1/2] w-full bg-emerald-900 flex rounded-3xl">
      <div class="capitalize">
        <p class="w-fit text-xl text-emerald-100">session photo</p>
        <p class="w-fit text-sm text-emerald-300">
          choose an image for your training session
        </p>
      </div>

      <label class="flex w-full flex-grow justify-center gap-5 relative">
        <input type="file" id="session_img_input" class="opacity-0 -z-10 absolute " accept="image/* ">
        <div class="w-full h-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border-[6px] rounded-lg border-dashed border-emerald-800">
          <img class=" w-full h-full object-cover" src="{% static 'img/icon_upload_img.svg' %}" id="session_img" alt="" />
        </div>
      </label>
    </div>

    <div class="p-4 gap-y-2 col-[2/3] row-[1/2] flex-col w-full bg-emerald-900 flex rounded-3xl">
      <div>
        <p class="capitalize text-emerald-100">Session title</p>
        <p class="w-fit text-sm text-emerald-300">
          choose a title for your training session
        </p>
      </div>

      <input type="text" name="username" id="title_input" class="rounded-md outline-none ring-1 ring-emerald-800 focus-within:ring-emerald-400 w-[400px]  placeholder:text-emerald-300 border-0 bg-transparent py-1.5 pl-2 text-white" placeholder="enter title's name" />
    </div>
    <div class="p-4 gap-y-2 col-[3/4] row-[4/5] flex-col w-full bg-emerald-900 flex rounded-3xl">
      <div>
        <p class="capitalize text-emerald-100">short Description</p>
        <p class="w-fit text-sm text-emerald-300">
          give a small summury for your session
        </p>
      </div>

      <textarea name="username" id="sm_description_input" maxlength="99" class=" scroller resize-none  rounded-md outline-none ring-1 ring-emerald-800 focus-within:ring-emerald-400 w-full placeholder:text-emerald-300 border-0 bg-transparent py-1.5 text-white h-[93px]" placeholder="small summury"></textarea>
    </div>

    <div class="p-4 gap-y-2 row-[4/5] col-[1/2] relative flex-col w-full bg-emerald-900 flex rounded-3xl">
      <div>
        <p class="capitalize text-emerald-100">Session price and limit</p>
        <p class="w-fit text-sm text-emerald-300">
          choose a title for your training session
        </p>
      </div>

      <input type="number" min="0" name="username" id="price_input" class="rounded-md outline-none ring-1 ring-emerald-800 focus-within:ring-emerald-400 w-[400px]  placeholder:text-emerald-300 border-0 bg-transparent py-1.5 pl-2 text-white" placeholder="enter session price" />
      <input type="number" min="0" name="username" id="participent_input" class=" mt-2 rounded-md outline-none ring-1 ring-emerald-800 focus-within:ring-emerald-400 w-[400px]  placeholder:text-emerald-300 border-0 bg-transparent py-1.5 pl-2 text-white" placeholder="enter number of max participent" />

    </div>

    <div class="p-4 gap-y-2 flex-col col-[3/4] row-[1/4] w-full bg-emerald-900 flex rounded-3xl">
      <div class="">


        <p class="capitalize text-emerald-100">Session Description</p>
        <p class="w-fit text-sm text-emerald-300">
          write what the session will be about
        </p>

      </div>
      <div class="overflow-x-hidden scroller w-full h-full max-h-[500px] p-1 bg-emerald-900 overflow-y-scroll">
        <div id="editorjs" class="costum-type-scale w-full min-h-full text-white "></div>
      </div>



    </div>

    <div class="p-4 gap-y-2 row-[5/6] col-[2/3] flex-col relative w-full bg-emerald-900 flex rounded-3xl">

      <div>
        <p class="capitalize text-emerald-100">Session category</p>
        <p class="w-fit text-sm text-emerald-300">
          choose a category for your training session
        </p>
      </div>
      <div class="relative w-full flex justify-center">
        <button class="w-[90%] bg-emerald-600 rounded-lg text-emerald-900 p-2" data-dropDown-btn="categorie_dropdown">
          select categorie</button>
        <div data-dropDown-list="categorie_dropdown" data-hidden="false" class="absolute opacity-0 pointer-events-none z-10 w-[80%] p-4 gap-y-2 bg-emerald-950/80 backdrop-blur-sm rounded-2xl flex flex-col right-1/2 translate-x-1/2  top-[calc(100%+8px)] ">
          {% for categorie in categorie %}
          <p class="bg-emerald-700/30 hover:bg-emerald-400 transition-colors duration-300 text-emerald-300 hover:text-emerald-900  p-2 rounded cursor-pointer data-[item-active]:bg-emerald-400 data-[item-active]:text-emerald-900" data-dropDown-item="categorie_dropdown">{{categorie.name}}</p>
          {% empty %}
          <li>No categorie available.</li>
          {% endfor %}
        </div>
      </div>
    </div>


    <div class="p-4 gap-y-2 col-[1/2] row-[5/6] flex-col relative w-full bg-emerald-900 flex rounded-3xl">

      <div>
        <p class="capitalize text-emerald-100">Session location</p>
        <p class="w-fit text-sm text-emerald-300">
          choose a location for your training session
        </p>
      </div>
      <div class="relative w-full flex justify-center">
        <button class="w-[90%] bg-emerald-600 rounded-lg text-emerald-900 p-2" data-dropDown-btn="location_dropdown">
          select location</button>
        <div data-dropDown-list="location_dropdown" data-hidden="false" class="absolute opacity-0 pointer-events-none z-10 w-[80%] p-4 gap-y-2 bg-emerald-950/80 backdrop-blur-sm rounded-2xl flex flex-col right-1/2 translate-x-1/2  top-[calc(100%+8px)] ">
          {% for location in locations %}
          <p class="bg-emerald-700/30 hover:bg-emerald-400 transition-colors duration-300 text-emerald-300 hover:text-emerald-900  p-2 rounded cursor-pointer data-[item-active]:bg-emerald-400 data-[item-active]:text-emerald-900" data-dropDown-item="location_dropdown">{{location.location}}</p>
          {% empty %}
          <li>No location available.</li>
          {% endfor %}

        </div>
      </div>


    </div>

    <div class="p-4 w-full gap-y-2 flex-col h-full col-[3/4] row-[5/6] bg-emerald-900 flex rounded-3xl">
      <div>
        <p class="capitalize mb-1 text-emerald-100">
          Session type
        </p>
        <p class="w-fit text-sm text-emerald-300">
          choose a type for your training session
        </p>
      </div>

      <div class="relative w-full flex justify-center">
        <button class="w-[90%] bg-emerald-600 rounded-lg text-emerald-900 p-2" data-dropDown-btn="categorie_dropdown2">
          select type</button>
        <div data-dropDown-list="categorie_dropdown2" data-hidden="false" class="absolute opacity-0 pointer-events-none z-10 w-[80%] p-4 gap-y-2 bg-emerald-950/80 backdrop-blur-sm rounded-2xl flex flex-col right-1/2 translate-x-1/2  top-[calc(100%+8px)] ">
          <p class="bg-emerald-700/30 hover:bg-emerald-400   transition-colors duration-300 text-emerald-300 hover:text-emerald-900  p-2 rounded cursor-pointer data-[item-active]:bg-emerald-400 data-[item-active]:text-emerald-900" data-dropDown-item="categorie_dropdown2">Personal</p>
          <p class="bg-emerald-700/30 hover:bg-emerald-400 transition-colors duration-300 text-emerald-300 hover:text-emerald-900  p-2 rounded cursor-pointer data-[item-active]:bg-emerald-400 data-[item-active]:text-emerald-900" data-dropDown-item="categorie_dropdown2">Group</p>

        </div>
      </div>
    </div>
    <div class="p-4 gap-y-2 justify-start flex-col row-[2/5] col-[2/3] w-full bg-emerald-900 flex rounded-3xl self-stretch">
      <div>
        <p class="capitalize text-emerald-100">Session period</p>
        <p class="w-fit text-sm text-emerald-300">
          choose when the training session begins and ends
        </p>

        <div class="bg-emerald-800 rounded-2xl p-6 flex-col flex self-center items-center relative ">
          <div id="calendar" class=""></div>


          <div class="w-full mt-5 flex justify-evenly items-center mx-auto">

            <div class="relative">
              <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                <svg class="w-4 h-4 text-emerald-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" clip-rule="evenodd" />
                </svg>
              </div>
              <input type="time" id="time" class=" leading-none text-emerald-900 text-sm rounded-lg  block w-full p-2.5 dark:bg-emerald-900  dark:text-emerald-500" min="05:00" max="24:00" value="08:00" required />
            </div>

            <p class="text-emerald-500 capitalize font-medium">to</p>

            <div class="relative">
              <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                <svg class="w-4 h-4 text-emerald-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" clip-rule="evenodd" />
                </svg>
              </div>
              <input type="time" id="time2" class=" leading-none text-emerald-900 text-sm rounded-lg  block w-full p-2.5 dark:bg-emerald-900  dark:text-emerald-500 " min="05:00" max="24:00" value="12:00" required />
            </div>

          </div>

        </div>


      </div>


    </div>

    <div class=" w-full max-w-[1400px] flex justify-end self-end col-[3/4]  mx-auto mt-3">
      <button id="button1" class="bg-emerald-600 text-emerald-800 rounded-xl py-3 px-5 font-medium hover:bg-emerald-900 hover:text-emerald-400 transition-colors duration-300
         ">creat session</button>
    </div>

    <script src="{% static 'coach/calender_sess_creation.mjs' %}" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
    <script src="{% static 'coach/dropdown.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js"> </script>
    <script src="{% static 'coach/create_session.mjs' %}" type="module"> </script>
</body>

</html>