{% load static %}

<div class="w-full max-w-[960px] mx-auto my-24 p-[1px]">
    <h3 class="text-2xl font-medium">Classes Designed</h3>
    <h1 class="text-5xl font-header w-fit">For You</h1>
    <div class="flex gap-x-2 px-2 justify-between items-center ">
      <div class="py-14">
        <img class="rounded-3xl w-52" src=" {% static 'img/coach007.jpg' %}" />
        <div class="flex justify-between items-center pt-2 px-2">
          <p class="text-sm font-medium">Personal Training</p>
          <button
            class="bg-green-400 rounded-full flex items-center justify-center size-8"
          >
          <span class="material-symbols-rounded">
            north_east
            </span>
          </button>
        </div>
      </div>
      <div class="self-end">
        <img class="rounded-3xl w-52" src=" {% static 'img/Samba.jpg' %}" />
        <div class="flex justify-between items-center pt-2 px-2">
          <p class="text-sm font-medium">Samba Training</p>
          <button
            class="bg-green-400 rounded-full flex items-center justify-center size-8 "
          >
          <span class="material-symbols-rounded">
            north_east
          </span>
          </button>
        </div>
      </div>
      <div class="self-center">
        <img class="rounded-3xl w-52" src=" {% static 'img/coach003.jpg' %}" />
        <div class="flex justify-between items-center pt-2 px-2">
          <p class="text-sm font-medium">Martial Art</p>
          <button class="bg-green-400 rounded-full flex items-center justify-center size-8">
            <span class="material-symbols-rounded">
                north_east
                </span>
        </button>
        </div>
      </div>
      <div class="self-start">
        <img class="rounded-3xl w-52" src=" {% static 'img/Waifu.jpg' %}" />
        <div class="flex justify-between items-center pt-2 px-2">
          <p class="text-sm font-medium">Group Training</p>
          <button
            class="bg-green-400 rounded-full flex items-center justify-center size-8"
          >
          <span class="material-symbols-rounded">
            north_east
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>