<div class="h-1 w-[60px] col-[1/2]"></div>  
  

<section class="bg-emerald-950 flex flex-col fixed justify-evenly gap-y-9 top-1/2 -translate-y-1/2 left-2 rounded-full py-6 overflow-hidden p-2">
    
                    
    <a href="{% url 'coach:dashboard' %}" class="flex flex-col items-center group transition-colors duration-500 justify-center text-emerald-300 text-center text-sm  py-2 px-2 hover:bg-emerald-800/30 rounded-2xl"><span class="  text-3xl text-emerald-300 material-symbols-outlined">
                    home
                    </span>home 
                    <p class=" rounded-full bg-emerald-500 group-hover:bg-emerald-200 size-2 mt-1">
                </p></a>
               
                

                <a  href="{% url 'coach:session_creation' %}" class="flex flex-col items-center justify-center transition-colors duration-500 text-emerald-300 text-center text-sm py-2 px-2  hover:bg-emerald-800/30 rounded-2xl"><span class="  text-3xl text-emerald-300  material-symbols-outlined">
                    exercise
                    </span>session</a>
                    
                    
                <a  href="{% url 'coach:stats' %}" class="flex flex-col items-center transition-colors duration-500 justify-center text-emerald-300 text-center text-sm hover:bg-emerald-800/30 rounded-2xl py-2 px-2 "><span class="  text-3xl text-emerald-300  material-symbols-outlined">
                    equalizer
                    </span>stats</a>


</section>

