{% load static %}

<div class="flex justify-evenly items-center gap-x-4 flex-wrap max-w-[960px] mx-auto mt-[150px]">
<div class="flex">
  <img
    class="rounded-xl w-full mr-4 max-w-28 object-cover"
    src="{% static 'img/coach003.jpg' %}"
  />
  <img class="rounded-xl w-52" src=" {% static 'img/Waifu.jpg' %}" />
</div>
<div class="flex flex-col max-w-96">
  <p class="text-3xl font-medium">Are You Looking For A Coach</p>
  <p class="mt-1 font-medium">
    Looking for a change? A coach can be your compass. Navigate toward
    your goals, one step at a time. With tailored support, you'll thrive
    and reach new heights.
  </p>
  <a href="{% url 'coach:session' %}" class="bg-green-400 rounded-full text-sm p-2 font-medium px-4 mt-6 text-center">
    EXPLORE MORE
  </a>
</div>
</div>