<footer class="w-full mt-28 pb-14 bg-emerald-300 rounded-t-3xl">
	<div
		class="flex justify-between items-start w-full max-w-[1200px] mx-auto mt-14 p-5"
	>
		<div class="text-left">
			<h2 class="text-emerald-800 font-medium text-lg mb-2">Conquer</h2>
			<p class="text-neutral-900 text-sm font-medium">
				Conquer is your go-to destination for top-notch fitness<br />
				equipment and supplements.
			</p>
			<p class="mt-4 text-neutral-900 text-sm font-medium">
				Copyright ©2023 Ecommerce by Conquer group.
			</p>
		</div>
		<div class="ml-auto">
			<h2 class="text-emerald-800 font-medium text-lg mb-2">Contact us</h2>
			<p class="text-neutral-900 text-sm mb-2 font-medium">address · tanger tren city</p>
			<p class="text-neutral-900 text-sm mb-2 font-medium">email · help@Conquer.com</p>
			<p class="text-neutral-900 text-sm mb-2 font-medium">phone · 0612365478</p>
		</div>
	</div>
</footer>
