<nav class="nav fixed w-full bg-emerald-950/80 backdrop-blur-md top-2 z-10 rounded-full max-w-4xl left-1/2 -translate-x-1/2 px-4 py-4 shadow-md">
    <div class="text-red-500 font-medium">
        <a href="{% url 'coach:home' %}">
            <div id="logo" class="text-emerald-300 thick-font"><p class="capitalize">Conquer</p></div>
        </a>
    </div>
    <div class="flex text-white items-center list-none gap-x-4 ">
        <li><a href="{% url 'coach:shop' %}" class="here hover:text-emerald-300">accessory</a></li>
        <li><a href="{% url 'coach:session' %}" class="here hover:text-emerald-300">sessions</a></li>
        {% if user.profile.type == 'coach' %}
            <li><a href="{% url 'coach:dashboard' %}" class="here hover:text-emerald-300">dashboard</a></li>
        {% endif %}
    </div>
    <div class="text-slate-50">
      <ul class="nav_links items-center flex justify-between"> 

       
        {% if user.is_authenticated %} 
        <li class="relative">
            <button data-nav-dropdown-btn class="group font-semibold inline-flex justify-center items-center gap-x-1  bg-white/5 p-1 py-2 rounded-lg">
                <span class="material-symbols-outlined group-hover:text-emerald-300 transition-colors duration-300 text-lg leading-none"> account_circle</span>
                <span class="material-symbols-outlined group-hover:text-emerald-300 transition-colors duration-300 text-lg leading-none">expand_more</span>
            </button>

            <ul  data-nav-dropDown-list class="invisible opacity-0  w-fit transition-opacity duration-200 top-[calc(100%+1.5rem)] rounded-lg left-1/2 -translate-x-1/2 text-neutral-50 absolute bg-emerald-950/80 ">
                <li data-nav-dropDown-item class="w-36 m-2 p-2  transition-colors duration-300 rounded-lg cursor-pointer font-medium">
                    <a class="flex items-center justify-between  gap-x-2 w-full" href="{% url 'coach:cart' %}"  >cart
                        <span class="material-symbols-outlined  text-lg  leading-none">
                            shopping_cart
                            </span></a>
                </li>

                <li data-nav-dropDown-item class="w-36 m-2 p-2  transition-colors duration-300 rounded-lg cursor-pointer font-medium">
                    <a class="flex items-center justify-between  gap-x-2 w-full"  href="{% url 'coach:profile' %}">profile
                        <span class="material-symbols-outlined  text-lg  leading-none"> account_circle</span>
                        </a>
                </li>
                <li data-nav-dropDown-item class="w-36 m-2 p-2  transition-colors duration-300 rounded-lg cursor-pointer font-medium">
                    <a class="flex items-center  justify-between gap-x-2 w-full" href="{% url 'coach:logout' %}" >sign out
                        <span class="material-symbols-outlined  text-lg leading-none ">account_circle</span>
                    
                        </a>
                </li>
            </ul>
        </li>

        {% else  %}
        <li>
            <a class="flex items-center gap-x-2" href="{% url 'coach:signin' %}" >sign in
            </a>
        </li>
        {% endif  %} 
        
        
    </div>
</nav>
