{% load static %}

<div class="w-full max-w-[90%] mx-auto">
  <h3 class="text-2xl font-medium">Reviews</h3>
  <h1 class="text-5xl thick-font font-bold">From You</h1>
  <div class="flex items-center justify-between w-full">
      <div class="relative w-96 h-96">
        <img
          class="size-24 rounded-full object-cover absolute top-[100px] right-[300px]"
          src="{% static 'img/rab (1).png' %}"
        />
        <img
          class="size-36 rounded-full object-cover absolute top-[180px] right-[150px]"
          src="{% static 'img/rabanga.png' %}"
        />
        <img
          class="size-20 rounded-full object-cover absolute top-[50px] right-[150px]"
          src="{% static 'img/rabi.png' %}"
        />
        <img
          class="size-28 rounded-full object-cover absolute top-[100px] right-[10px]"
          src="{% static 'img/rabo.png' %}"
        />
      </div>


    <div
      class="max-w-[1000px] py-16 h-fit embla after:pointer-events-none before:pointer-events-none relative after:absolute after:right-0 after:top-0 after:h-full after:w-11 after:bg-gradient-to-l"
    >
      <!-- slider container -->
      <div class="embla__container flex">
        <div
          class="mr-12 embla__slide flex-shrink-0 flex-grow-0 basis-auto w-fit relative transition-shadow ease-in gradient-border group rounded-2xl max-w-72">

          <div class="flex flex-col rounded-xl bg-gray-200 justify-between h-full">
            <div class="flex-auto p-4 md:p-6">
              <p
                class="text-base italic md:text-lg text-black "
              >
                " Ce site offre une grande variété de programmes d'entraînement. 
                Les entraîneurs sont motivants et compétents, ce qui rend chaque séance efficace. 
                L'interface est intuitive, ce qui facilite la navigation et le suivi de mes progrès. 
                Je recommande vivement ce site à tous ceux qui cherchent à améliorer leur forme physique. "
              </p>
            </div>

            <div
              class="p-4 bg-gray-200 rounded-b-xl md:px-7 "
            >
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <img
                    class="size-8 sm:h-[2.875rem] sm:w-[2.875rem] rounded-full"
                    src="{% static 'img/rab (1).png' %}"
                    alt="Image Description"
                  />
                </div>

                <div class="grow ms-3">
                  <p
                    class="text-sm sm:text-base font-semibold text-black"
                  >
                    Ahmed Rabhi
                  </p>
                  <p class="text-xs text-black">
                    Ensenseignement | EMSI
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div
          class="mr-12 embla__slide flex-shrink-0 flex-grow-0 basis-auto w-fit relative transition-shadow ease-in gradient-border group bg-neutral-800 rounded-2xl max-w-72"
        >
        <div class="flex flex-col rounded-xl bg-gray-200 justify-between h-full">
            <div class="flex-auto p-4 md:p-6">
              <p
                class="text-base italic md:text-lg text-black "
              >
                " Ce site de fitness a révolutionné ma façon de m'entraîner. Les programmes sont variés et stimulants, les entraîneurs sont passionnés et les conseils sont personnalisés. 
                J'ai pu atteindre des objectifs que je pensais inatteignables grâce à cette plateforme. 
                Je recommande vivement à quiconque cherche à se mettre en forme de rejoindre cette communauté motivante et inspirante. "
              </p>
            </div>

            <div
              class="p-4 bg-gray-200 rounded-b-xl md:px-7 "
            >
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <img
                    class="size-8 sm:h-[2.875rem] sm:w-[2.875rem] rounded-full"
                    src="{% static 'img/rabanga.png' %}"
                  />
                </div>

                <div class="grow ms-3">
                  <p
                    class="text-sm sm:text-base font-semibold text-black"
                  >
                    Othman Bakkass
                  </p>
                  <p class="text-xs text-black">
                    Developer | Rentech
                  </p>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div
          class="mr-12 embla__slide flex-shrink-0 flex-grow-0 basis-auto w-fit relative transition-shadow ease-in gradient-border group bg-neutral-800 rounded-2xl max-w-72"
        >
        <div class="flex flex-col rounded-xl bg-gray-200 justify-between h-full">
            <div class="flex-auto p-4 md:p-6">
              <p
                class="text-base italic md:text-lg text-black "
              >
                "Ce site offre une multitude de programmes pour tous les niveaux, ce qui m'a permis de diversifier mes entraînements et de rester motivé(e). 
                Les conseils des entraîneurs sont très utiles et l'aspect communautaire du site est génial, car je peux partager mes progrès et recevoir du soutien des autres membres. 
                Je recommande vivement ce site à tous ceux qui veulent atteindre leurs objectifs de remise en forme de manière efficace et plaisante. "
              </p>
            </div>

            <div
              class="p-4 bg-gray-200 rounded-b-xl md:px-7 "
            >
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <img
                    class="size-8 sm:h-[2.875rem] sm:w-[2.875rem] rounded-full"
                    src="{% static 'img/rabi.png' %}"
                    alt="Image Description"
                  />
                </div>

                <div class="grow ms-3">
                  <p
                    class="text-sm sm:text-base font-semibold text-black"
                  >
                    Chaimae Azroumahli
                  </p>
                  <p class="text-xs text-black">
                    Ensenseignement | EMSI
                  </p>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div
          class="mr-12 embla__slide flex-shrink-0 flex-grow-0 basis-auto w-fit relative transition-shadow ease-in gradient-border group bg-neutral-800 rounded-2xl max-w-72"
        >
        <div class="flex flex-col rounded-xl bg-gray-200 justify-between h-full">
            <div class="flex-auto p-4 md:p-6">
              <p
                class="text-base italic md:text-lg text-black "
              >
                "Ce site propose une grande variété de programmes d'entraînement adaptés à tous les niveaux, ce qui m'a permis de progresser de manière constante. 
                Les conseils des entraîneurs sont précieux et l'interaction avec la communauté est très motivante. 
                Je le recommande vivement à quiconque cherche une expérience de remise en forme complète et enrichissante. "
              </p>
            </div>

            <div
              class="p-4 bg-gray-200 rounded-b-xl md:px-7 "
            >
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <img
                    class="size-8 sm:h-[2.875rem] sm:w-[2.875rem] rounded-full"
                    src="{% static 'img/rabo.png' %}"
                    alt="Image Description"
                  />
                </div>

                <div class="grow ms-3">
                  <p
                    class="text-sm sm:text-base font-semibold text-black"
                  >
                    Mike Tyson
                  </p>
                  <p class="text-xs text-black">
                    Boxer | New York Times
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
