{% load static %}


<div
  class="w-full mx-auto max-w-[97%] flex flex-col bg-primary min-h-screen rounded-[36px] my-[150px] overflow-hidden relative p-11 isolate"
>
  <img
    src="{% static 'img/Ellipse 1.svg' %}"
    class="absolute right-[677px] top-[480px] max-w-[700px] -z-10"
  />
  <img
    src="{% static 'img/Ellipse 1.svg' %}"
    class="absolute right-[-300px] top-[-200px] max-w-[700px] -z-10"
  />

  <div class="flex justify-between items-center">
    <div class="">
      <h3 class="text-2xl text-black font-medium uppercase">
        training sessions
      </h3>
      <h1 class="text-7xl thick-font font-bold text-black uppercase">
        join today
      </h1>
    </div>

    <p
      class="bg-emerald-900 text-primary-subtle px-6 py-3 rounded-full font-medium capitalize mb-3"
    >
      best plan of the week
    </p>
  </div>
  <div class="min-h-6 flex-grow flex gap-x-40 items-center justify-center">
    {% for session in sessions %}
    <a href="{% url 'coach:session' %}"
      class="w-full max-w-[320px] bg-emerald-900 rounded-[36px] flex flex-col items-center p-3"
    >
      <img
        src="{{MEDIA_URL}}{{session.img}}"
        class="rounded-3xl w-full object-top mb-4 min-h-[200px] object-cover"
      />
      <div class="min-w-0 max-w-full w-full">
        <h4
          class="thick-font text-lg capitalize text-center font-medium text-primary truncate"
        >
          {{session.name}}
        </h4>
      </div>
      <div class="flex w-full justify-center items-center gap-x-3">
        <p
          class="text-emerald-300 flex items-center justify-center gap-x-2 bg-emerald-800 rounded-full self-start px-2 font-medium capitalize"
        >
          <span class="material-symbols-outlined text-lg font-semibold">
            history_toggle_off
          </span>
          <span>{{ session.duration }}h</span>
        </p>
        <p
          class="text-emerald-300 flex items-center justify-center gap-x-2 bg-emerald-800 rounded-full self-start px-2 font-medium capitalize"
        >
          <span class="material-symbols-outlined"> groups </span>
          <span>{{ session.participant_limit }}</span>
        </p>
        <p
          class="text-emerald-300 flex items-center justify-center gap-x-2 bg-emerald-800 rounded-full self-start px-2 font-medium capitalize"
        >
          <span class="material-symbols-outlined"> star </span> <span>{{session.star_rating}}</span>
        </p>
      </div>

      <div class="mt-2 w-full flex items-center gap-x-4">
        <img
          class="size-12 rounded-full object-cover"
          src="{{MEDIA_URL}}{{session.coach_img}}"
        />
        <div class="mb-2">
          <p class="text-emerald-300">coach</p>
          <p class="text-emerald-300 font-medium capitalize">
            {{session.coach_first_name}} {{session.coach_last_name}}
          </p>
        </div>
      </div>
      <p
        class="text-emerald-300 flex items-center justify-center gap-x-2 bg-emerald-800 py-2 rounded-b-full mt-2 w-full self-start px-2 font-medium capitalize"
      >
        {{session.categorie}}
      </p>
    </a>
    {% endfor %}
  </div>
</div>



    
