.nav_links li, .nav_links a{
    font-family:'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.material-symbols-outlined{
    font-size: 14px;
    font-weight: 500;
    padding:0px 0px;
}

.material-symbols-outlined{
    font-size: 14px;
    font-weight: 500;
    padding:0px 0px;
    
}

.nav_links{
    list-style: none;
  

}

.nav_links li{
    display: inline-block;
    padding:0px 9px;
}

.nav_links li a{
    transition: all 0.5s ease 0s;
} 

.nav_links li a:hover{
    color: #6EE7B7;
} 



